/.idea/
/target/


*.iml
.gradle
/.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
jwwear/build
/jwwear/build
/captures
.externalNativeBuild
/.idea
/.cxx
**/ndkHelperBin
**/.cxx
*.cxx
app/.cxx/*
/recycler_item_swipe_delete/build/*
app/release/
